body {
  font-family: Arial;
  background: linear-gradient(to right, #ff57ab, #764ba2);
  color: white;
  text-align: center;
}

input, button {
  padding: 10px;
  margin: 5px;
}

.videos {
  display: flex;
  justify-content: center;
  gap: 10px;
}

video {
  width: 300px;
  border: 2px solid white;
}

.chat {
  background: white;
  color: black;
  margin: 20px auto;
  width: 300px;
  padding: 10px;
}

.messages {
  height: 120px;
  overflow-y: auto;
}